<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BounsAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1BFC3D21F458C3E00FB0BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1BFC3EB1F458C3E00FB0BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1BFC3F61F458C3E00FB0BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
